@font-face
{
font-family:Bebas Neue;

src:url("fuentes/BebasNeue-Regular.ttf");
}


body 
{
margin:0% ;	
}

header{
background-color:#aa702d;
width:100%;
height:auto;
display:flex;
flex-direction:row;
padding:0.5%;
}

main
{
background-color:#f8e1aa;
}

p
{
font-family:Bebas Neue;
font-size:23px;	
}

.padreindex
{
width:100%;
height:auto;
display:flex;
flex-direction:column;
flex-direction:row;
}


.textindex
{
font-family:Bebas Neue;
display:flex;
flex-direction:column;
width:40%;
height:auto;
justify-content:center;
padding:1%;
background-color:#d3bd88;
margin-left:5%;
}

img
{
border-radius:25px;	
}

.index
{
margin-left:10%;
padding:0.5%;
width:60%;
height:auto;
}

footer{
background: linear-gradient(#aa702d, black);
display:flex;
}

.menu{
width:100%;
height:auto;
}

nav{
width:50%;
height:auto;
display:flex;
}

.bot{
width:20%;
height:10%;
margin:1%;
display:flex;
justify-content:center;
margin-top:8%;



}

.iniciar{
width:12%;
height:6%;
display:flex;
justify-content:flex-end;
margin:2%;
font-size:20px;

}

.logoh{
width:40%;
height:auto;
display:flex;
justify-content:flex-start;
}

nav a:link, a:visited {
color:white;
text-decoration:none;
border-style:solid;
border-radius:8px;
font-family:Bebas Neue;
}

nav a:hover{
transition: all 0.7s;
color:#f8e1aa;
font-size:20px;
}



h1{
text-align:center;
width:100%;
height:auto;
margin:-0.5%;
padding:1%;
}

h2{
text-align:center;
width:100%;
height:auto;
margin:-0.5%;
padding:1%;
}

.maps{
width:100%;
height:auto;
display:flex;
justify-content:center;
flex-direction:row;
flex-wrap:nowrap;

}
.cuadro{
width:100%;
height:auto;
margin:2%;
font-size:20px;
text-align:center;
display:flex;
justify-content:space-around;
}
.loc{
width:100%;
height:auto;
display:flex;
margin:2%;
margin-left:8%;
border-radius:5px;
border-color:lightblue;
border-style:solid;
}

.wowslider-container1{
width:90%;
height:auto;
}

.links{
width:44.5%;
height:auto;
display:flex;
flex-direction: column-reverse;
 justify-content: space-evenly;

}
.logof{
width:11%;
height:auto;
padding-top:1%;
display:flex;	
justify-content:flex-start;
border-right-style:solid;
border-right-color:white;
border-right-width:2px;
margin:1%;
padding:2%;
}

.redes{
width:44.5%;
height:auto;
display:flex;	
align-items: center;
flex-direction: row;
}

.face{
width:90%;
height:auto;
display:flex;

}
.ig{
width:100%;
height:auto;
display:flex;

}

.x{
width:30%;
height:auto;
display:flex;
align-items:;
}

a:link, a:visited{
color:white;
text-decoration:none;
font-family:Bebas Neue;

}

a:hover{
transition: all 0.7s;
color:#e9a352;
font-size:20px;
}
