@font-face
{
font-family:Bebas Neue;

src:url("fuentes/BebasNeue-Regular.ttf");
}


body 
{
margin:0% ;	
}

header{
background-color:#aa702d;
width:100%;
height:auto;
display:flex;
flex-direction:row;
}

main
{
background-color:#f8e1aa;
height:auto;
width:96%;
padding:2%;
}

p
{
font-family:Bebas Neue;
font-size:23px;	
}

.grande
{
font-size:28px;	
}


.padreindex
{
width:100%;
height:auto;
display:flex;
flex-direction:column;
flex-direction:row;
}


.textindex
{
font-family:Bebas Neue;
display:flex;
flex-direction:column;
width:40%;
height:auto;
justify-content:center;
padding:1%;
background-color:#d3bd88;
margin-left:5%;
}

img
{
border-radius:25px;	
}

.index
{
margin-left:10%;
padding:0.5%;
width:60%;
height:auto;
display:flex;
}

footer{
background: linear-gradient(#aa702d, black);
display:flex;
}

.menu{
width:100%;
height:auto;
}

nav{
width:50%;
height:auto;
display:flex;
position:relative;




}

.bot{
width:20%;
height:12%;
margin:1%;
display:flex;
justify-content:center;
margin-top:11%;
font-size:22px;
}

.iniciar{
width:12%;
height:6%;
display:flex;
justify-content:flex-end;
margin:2%;
font-size:20px;

}

.logoh{
width:40%;
height:auto;
display:flex;
justify-content:flex-start;
}

a:link, a:visited{
color:white;
text-decoration:none;
font-family:Bebas Neue;

}

a:hover{
transition: all 0.7s;
color:#e9a352;
font-size:20px;
}




nav a:link, nav a:visited {
color:white;
text-decoration:none;
border-style:solid;
border-radius:8px;
font-family:Bebas Neue;
}

nav a:hover{
transition: all 0.7s;
color:#f8e1aa;
font-size:25px;
}

.sucursal
{
width:50%;
height:auto;
	
}


.sucursal a:link, .sucursal a:visited
{

text-decoration:none;
font-family:"Bebas Neue";
color:black;
}

.sucursal a:hover
{
transition: all 0.7s;
color:#cf6f0e;
font-size:30px;	
}

h1{
text-align:center;
width:100%;
height:auto;
margin:-0.5%;
padding:1%;
font-family:"Bebas Neue";
}

.delivery
{
height:auto;
width:100%;	
display:flex;	
justify-content: space-evenly;
margin-top:35px;

}


h2{
text-align:center;
width:100%;
height:auto;
margin:-0.5%;
padding:1%;
}

.maps{
width:100%;
height:auto;
display:flex;
justify-content:center;
flex-direction:row;
flex-wrap:nowrap;

}

.cuadro{
width:100%;
height:auto;
margin:2%;
font-size:20px;
text-align:center;
display:flex;
justify-content:space-around;
}

.loc{
width:100%;
height:auto;
display:flex;
margin:2%;
margin-left:8%;
border-radius:5px;
border-color:lightblue;
border-style:solid;
}

.suc{
	width:100%;
	height:auto;
	display:flex;
}

.wowslider-container1{
width:90%;
height:auto;
}

.links{
width:44.5%;
height:auto;
display:flex;
flex-direction: column-reverse;
 justify-content: space-evenly;

}
.logof{
width:11%;
height:auto;
padding-top:1%;
display:flex;	
justify-content:flex-start;
border-right-color:white;
border-right-width:2px;
margin:1%;
padding:2%;
}

.redes{
width:44.5%;
height:auto;
display:flex;	
align-items: center;
flex-direction: row;
}

.face{
width:90%;
height:auto;
display:flex;

}
.ig{
width:100%;
height:auto;
display:flex;

}

.x{
width:30%;
height:auto;
display:flex;
}


#menu-button {
    background-color: #aa702d;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    position: relative; /* Esto es necesario para que el menú se posicione debajo de él */
	font-family:Bebas Neue;
	text-decoration: none;
    border-style: solid;
    border-radius: 8px;
	margin:0;
	height:15.5%;
	width:20%;
	display:flex;
	margin-top:10.8%;
	font-size:20px;
	align-items:center;
	justify-content:center;
	z-index:99;
}

/* MENÚ ESTILOS */
.menu {
    list-style: none;
    margin:0;
	padding:0;
    position: absolute;
    top: 70%; /* Esto asegura que el menú esté justo debajo del botón */
    left: 22%;
    width: 200px;
   background-color: #aa702d;
    border-radius: 8px;
    opacity: 0;
    pointer-events: none; 
    transition: opacity 0.4s ease, transform 0.4s ease; /* Animación de desvanecimiento y deslizamiento */
    transform: translateY(-20px); /* Lo movemos un poco hacia arriba para la animación */
          z-index:99;
}

/* Menú visible */
.menu.open {
    opacity: 1;
    pointer-events: all; /* Permite la interacción cuando está visible */
transform: translateY(0); /* Lo mueve a su posición final */
    z-index:99;
}

/* Estilo de los elementos del menú */
.menu li {
    padding: 10px;
}

.menu li a {
    color: white;
    text-decoration: none;
    display: block;
}

.menu li a:hover {
    background-color: #575757;
}

.prod{
	width:100%;
	height:auto;
	 display:flex; /* convierto al padre el flex box*/
	 flex-direction:row; /* direccion de los hijos*/
	 justify-content:space-around; /*alinacion horizsontal*/
	 align-items:stretch; /*alineacion verticxal*/
	 flex-wrap:wrap; /*que los hijos no se amontonen en la misma fila*/
	 background-image:url("imagenes/fondo1.jpg");
	 margin-bottom:30px;
	 border-radius:15px;
	 padding:2%;
	 
}

.ficha{
	width:26%;
	height:auto;
	display:flex;
	border-radius:15px;
		 border-style :solid;
		border-width :3px;
		border-color : #000000;
		margin-bottom:20px;
		flex-wrap:wrap;
		
}

.imagen{
	width:100%;
	height:45%;
	display:flex;
	justify-content:center;
}

.descripcion{
	width:100%;
	height:auto;
	background-color:#aa702d;
	text-align:center;

}

.comprar{
width:100%;
height:auto;
display:flex;
justify-content:center;
background-color:black;
border-radius:5px;

align-items:center;
font-size:20px;
}

.nosotros
{
height:auto;
width:100%;	
display:flex;
justify-content: space-around;
align-items: center;
margin:2%;
}

.textn
{
text-align:center;
font-size:20px;	
}

.porque
{
text-align:center;	
}

.video
{
height:auto;
width:90%;
display:flex;
justify-content: space-evenly;
}

.textvideo
{
font-size:19px;	
text-align:justify;
display:flex;
}

.lomo
{
height:auto;
width:50%;	
}

.delp{
width:80%;
height:auto;
margin-top:5%;
margin-bottom:5%;
margin-left:10%;
display:flex;
flex-direction:column;
}

.ga{
width:100%;
height:auto;
display:flex;
}

#vlightbox1{
width:100%;
height:auto;
display:flex;
justify-content:space-around;
}

.pa{
	width:100%;
height:auto;
display:flex;
flex-direction:column;
align-items:center;
}

.contenedor {
    text-align: center;
	display:flex;
	    flex-direction: column;
    justify-content: center;
	margin-right:70px;
	
}

#reloj {
    color: white;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 4px;
 font-family:Bebas Neue;
 display:flex;
 flex-direction: column-reverse;
    justify-content: center;
    
}

#fecha {
    color: #ffffff;
    font-size: 15px;
    margin-top: 15px;
    letter-spacing: 2px;
	font-family:Bebas Neue;
	display:flex;
	flex-direction: column-reverse;
    justify-content: center;
	
}
@media  screen and (max-width:800px)
{
	main
	{
			flex-direction:column;
			align-items:center;
			margin:0%;
	}
header{
             flex-direction:column;
             align-items:center;			 
	}
	
	.logoh{
       width:30%;
        justify-content:center;	   
	}
	
	nav
	{
			
			flex-direction:column;
			align-items:center;
			padding:2%;
	}
	
	.bot{
		width:70%;
	}
	
	#menu-button{
		width:70%;
		
	}
	
	.padreindex{
		width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
	}

   .index{
	   width:90%;
	   margin-left:4%;
   }
   
   .textindex{
	   width:95%;
	   margin-left:0%;
   }
   
   footer{
	   flex-direction:column-reverse;
	   align-items:center;
	   padding:5%;
   }
   
   .logof{
   width:40%;
   }
   
   .redes{
	   width:55%;
	   flex-direction:row;
	   justify-content:space-around;
	   margin-left:12%;
	   padding:5%;
   }
   
   .links{
	   font-size:20px;
	   margin-left:1%;
	   align-items:center;
   }
   
   .maps{
	   flex-direction:column;
	   
   }
   .loc{
	   width:99%;
	   margin-left:0%;
	   
   }
   .sucursal{
	   display:flex;
	    flex-direction: column;
        align-items: center;
   }
   
   .prod{
	   flex-direction:column;
	   align-items:center;
   }
   .ficha{
	   width:90%;
   }
   p{
	   font-size:25px;
   }
   .comprar{
	   
   }
   .bot2{
	   font-size:28px;
	   padding:1%;
   }
   
   .delivery{
	   flex-direction: column;
    align-items: center;
   }
   
   .nosotros{
	   flex-direction:column;
   }
   
   .video{
	   flex-direction: column;
    align-items: center;
	margin-left:5%;
   }
   
  .lomo{
	  width:80%;
  }
  .textvideo{
	  font-size:25px;
  }
  
  #vlightbox1{
	  flex-direction:column;
align-items:center;
  }
  
  .contenedor {
    align-items:center;
	margin-right:0px;
	
}
}


